@import "landing/landing.scss";

/* This injects Tailwind's base styles and any base styles registered by plugins. */
@tailwind base;

/* This injects Tailwind's component classes and any component classes registered by plugins. */
@tailwind components;

/* This injects Tailwind's utility classes and any utility classes registered by plugins. */
@tailwind utilities;

.test {

    box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.75);
    /* Change the values above according to your design needs */
    background-color: #ffffff; /* Add a background color for the div */
    height: 100px; /* Adjust height as needed */
    width: 200px; /* Adjust width as needed */
}






